node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*
log.txt

.cache/
.tmp/
dist/
build/
coverage/
.vscode/
.idea/
*.swp

data/
dump/
*.local
*.bak
*.seed

package-lock.json
yarn.lock

venv/